@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 0em;
  color: #333333;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}


.Inquiries {
  padding: 10px 30px;
  border-radius: 100px;
  background-color: #35BC93;
  color: #ffffff;
  margin: 40px 0;
  display: inline-block;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }
  .item:not(:nth-child(3n+3)) {
    margin-right: 0;
  }
  .item:nth-child(n+2) {
    margin-top: 30px;
  }
}


@media screen and (max-width: 765px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}


@media screen and (min-width: 766px) {
  .main {
    padding-top: 80px;
  }
}

@media screen and (max-width: 765px) {
  .main {
    padding-top: 50px;
  }
}







.main .contact .inquiryArea {
  background-color: #F0F3F5;
}

.main .contact .inquiryArea h2 {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 765px) {
  .main .contact .inquiryArea h2 {
    font-size: 24px;
  }
}

.main .contact .inquiryAreaBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 765px) {
  .main .contact .inquiryAreaBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}


.main .contact .inquiryAreaBoxInner dt {
  color: #35BC93;
  font-size: 24px;
  padding-bottom: 15px;
}

.main .contact .inquiryAreaBoxInner dt span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 766px) {
  .main .contact .inquiryAreaBoxInner dt {
    margin-left: 30px;
  }
}

.main .contact .inquiryAreaBoxInner dd {
  background-color: #ffffff;
  text-align: center;
  /* 中央寄せ */
}

@media screen and (min-width: 766px) {
  .main .contact .inquiryAreaBoxInner dd {
    display: table-cell;
    vertical-align: bottom;
    height: 350px;
    padding: 30px 30px 50px 30px;
  }
}

@media screen and (max-width: 765px) {
  .main .contact .inquiryAreaBoxInner dd {
    padding: 40px 10px;
  }
}

.main .contact .inquiryAreaBoxInner dd ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  line-height: 50px;
}

@media screen and (max-width: 765px) {
  .main .contact .inquiryAreaBoxInner dd ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .contact .inquiryAreaBoxInner dd ol li {
  counter-increment: num 1;
  list-style: none;
  padding-left: 40px;
  position: relative;
}

@media screen and (min-width: 766px) {
  .main .contact .inquiryAreaBoxInner dd ol li {
    width: 45%;
  }
}

.main .contact .inquiryAreaBoxInner dd ol li:before {
  content: counter(num);
  counter-increment: my-counter;
  background-color: #CCCCCC;
  border: 1px solid;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 12px;
  left: 0px;
}

.main .contact .inquiryAreaBoxInner dd ol li img {
  width: 40px;
  vertical-align: middle;
  margin-left: 20px;
}

@media screen and (min-width: 766px) {
  .main .contact .inquiryArea .lineBox {
    -ms-flex-preferred-size: 740px;
        flex-basis: 740px;
  }
  .main .contact .inquiryArea .lineBox dd {
    background-image: url(../../images/contact_line_bg.jpg);
    background-repeat: no-repeat;
    background-position: 90% 90%;
    background-size: 150px auto;
  }
}

.main .contact .inquiryArea .mailBox img {
  width: 30px;
}

@media screen and (min-width: 766px) {
  .main .contact .inquiryArea .mailBox {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 50px;
  }
}

@media screen and (max-width: 765px) {
  .main .contact .inquiryArea .mailBox {
    margin-bottom: 30px;
  }
}
