//*------------------*
//*  変数管理
//*------------------*

//color
$color-black: #333333;
$color-white: #ffffff;
$color-blue: #004bb1;
$color-gray: #F0F3F5;
$color-darkgray: #CCCCCC;
$color-green:#35BC93;


//font-family

//-->ヒラギノver.
//$font-main: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
// Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

//-->游ゴシックver.
// $font-main:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;

//*------------------*
//*  レスポンシブ定義
//*------------------*

//ブレイクポイント
//$sp: 765px; スマホ
//$pc: 766px; PC
//@mediaのフォーマット

//スマホ
@mixin sp {
  @media screen and (max-width: 765px) {
    @content;
  }
}

//PC
@mixin pc {
  @media screen and (min-width: 766px) {
    @content;
  }
}

//タブレット
@mixin tb {
  @media screen and (min-width:766px) and (max-width:959px) {
    @content;
  }
}

//Mixin
@mixin center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin centerX {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin centerY {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

$ease: cubic-bezier(.52, .11, .26, .96);

@mixin transition {
  transition: all $ease 0.3s;
}

//*------------------*
//*  base(共通)
//*------------------*
* {
  box-sizing: border-box;
}

body {
  letter-spacing: 0em;
  color: $color-black;
  font-weight: 400;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt"1;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.align-flex-end {
  display: flex;
  align-items: flex-end;
}

.align-flex-center {
  display: flex;
  align-items: center;
}

.ttl {
  padding: 0.25em 0.5em 0.25em 30px;
  margin-bottom: 30px;
  color: #494949;
  background: transparent;
  border-left: solid 17px $color-blue;
}

.free {
  position: relative;
  /* ←文字の親要素に指定 */
  width: 68px;
  height: 68px;
  background-color: whiite;
  border: solid 1px $color-blue;
  border-radius: 50%;
  text-align: center;
  margin-left: 30px;
}

.free-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $color-blue;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

//*カード*
.card {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 30px;
  width: 32%;
  background-color: #fff;
}

.item:not(:nth-child(3n+3)) {
  margin-right: 2%;
}

.item:nth-child(n+4) {
  margin-top: 30px;
}

.Inquiries {
  padding: 10px 30px;
  border-radius: 100px;
  background-color: $color-green;
  color: $color-white;
  margin: 40px 0;
  display: inline-block;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;

  }

  .item:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .item:nth-child(n+2) {
    margin-top: 30px;
  }
}

@include pc {
  p {
    font-size: 16px;
    line-height: 30px;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;

  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
  }

  h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .nopc {
    display: none;
  }

  .Inner {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 0;
  }
}



@include sp {
  a[href^="tel:"] {
    pointer-events: none;
  }

  .nosp {
    display: none;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
    //    font-weight: 700;
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
    //    font-weight: 700;
  }

  .ttl {
    padding: 0.25em 0.5em 0.25em 20px;
    border-left: solid 10px $color-blue;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }

  .Inner {
    padding: 50px 19px;
    margin: 0 auto;

  }
}

@include tb {
  .sptb {
    display: none;
  }

}


//*------------------*
//*  header
//*------------------*
.header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;

  @include pc {
    &Inner {
      width: 100%;
      //      padding: 25px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding-left: 30px;
      padding-right: 30px;

      ul {
        display: flex;
        //margin-left: 30px;
        align-items: flex-end;
      }

      h1 img {
        width: 187px;
        margin-right: 1em;
      }

      &Inquiries {
        position: relative;
        top: 0;
        width: 160px;
        height: 48px;
        padding: 12px 26px 12px;
        border-radius: 24px;
        border: solid 2px #cdd6dd;
        transition: all .3s;

        span {
          line-height: 48px;
        }
      }
    }





  }

  @include sp {
    &Inner {
      width: 100%;
      //      padding: 19px 12px;
      //z-index: 99;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding-left: 13px;
      padding-right: 13px;

      ul {
        display: flex;
        //margin-left: 30px;
        align-items: flex-end;
      }

      h1 img {
        width: 150px;
        margin-right: 1em;
      }

      &Inquiries {
        position: relative;
        top: 0;
        padding: 8px 26px 8px;
        border-radius: 24px;
        border: solid 2px #cdd6dd;
        transition: all .3s;

        span {
          line-height: 48px;
        }
      }
    }

  }
}

//ナビゲーション
.nav {
  margin-left: auto;

  @include sp {
    display: none;
  }

  &__list {
    display: inline-block;
    margin-right: 1vw;
  }
}

//*------------------*
//*  main
//*------------------*
.main {
  @include pc {
    padding-top: 80px;
  }

  @include sp {
    padding-top: 50px;
  }


  //*------------------*
  //*  fv
  //*------------------*
  .fv {
    @include pc {
      width: 100%;
      background-image: url(../../images/bg_main.jpg);
      background-size: cover;
      height: 440px;

      &Inner {
        padding-top: 75px;
        padding-bottom: 75px;


        h2 {
          font-size: 50px;
          font-weight: 700;
          display: flex;
          align-items: flex-end;
          letter-spacing: 9px;

          img {
            width: 400px;
            padding-left: 30px;
          }
        }

        h3 {
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 8px;
          color: $color-blue;
          line-height: 2;
        }

        p {
          margin-top: 20px;
        }
      }
    }

    @include sp {

      height: 440px;

      &Inner {
        padding: 30px 20px;
        height: 240px;
        width: 100%;
        background-image: url(../../images/bg_main.jpg);
        background-size: cover;
        margin-bottom: 60px;

        h2 {
          font-size: 32px;
          font-weight: 700;
          // display: flex;
          // align-items: flex-end;
          letter-spacing: 0x;

          span {
            display: block;
          }

          img {
            width: 220px;
            padding: 15px 0;
          }
        }

        h3 {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 8px;
          color: $color-blue;
          line-height: 1.5;
        }

        p {
          margin-top: 60px;
        }
      }
    }

    @include tb {
      h2 {
        display: block;
        font-size: 40px;

        img {
          width: 250px;
          padding-left: 0px;
        }
      }

      h3 {
        padding-top: 20px;
        font-size: 22px;
        letter-spacing: 8px;
        color: $color-blue;
        line-height: 1.2;
      }
    }
  }


  //*------------------*
  //*  lead
  //*------------------*

  @include pc {
    .lead {
      display: flex;

      &Text {
        width: 540px;
        padding-right: 40px;
      }

      &Img {
        width: 520px;
      }
    }

    .lead02 {


      .lead {
        flex-direction: row-reverse;
        padding-top: 0px;

        &Text {
          padding-left: 40px;
          padding-right: 0px;
        }
      }
    }
  }

  @include sp {
    .lead {

      &Img {
        margin-top: 10px;
      }
    }
  }

  //*------------------*
  //*  debate
  //*------------------*


  @include pc {
    .debate {
      background-color: $color-gray;

      .item {

        img {
          width: 150px;
          margin: 10px auto;
          display: block;
          margin-bottom: 30px;
        }

        h2 {
          font-size: 22px;
          font-weight: 700;
          text-align: center;
        }
      }
    }
  }

  @include sp {
    .debate {
      background-color: $color-gray;

      .item {
        display: flex;
        padding: 0;
        background-color: $color-gray;

        &Img {
          img {
            width: 80px;
            margin: 0 20px 0 0;
          }

        }

        &Text {
          p {
            font-size: 13px;
          }

          h2 {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }

  //*------------------*
  //*  about
  //*------------------*
  .about {
    z-index: 90;

    .students {
      display: flex;
      justify-content: space-between;
      padding: 30px;

      li {
        border: solid 1px;
        width: 180px;
        height: 120px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-size: 14px;
        }
      }

      li:nth-child(1) {
        color: #724b9a;
      }

      li:nth-child(2) {
        color: #2257a7;
      }

      li:nth-child(3) {
        color: #00a3e6;
      }

      li:nth-child(4) {
        color: #23ac38;
      }

      li:nth-child(5) {
        color: #eb5322;
      }
    }

    @include pc {
      .ttl {
        img {
          width: 210px;
          margin-right: 20px;
        }
      }

      .aboutList {
        margin: 80px 200px 0 130px;

        &Item {
          position: relative;
          overflow-x: inherit;
          overflow-y: hidden;
          margin-bottom: 30px;

          &:before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #a79c9c;
            top: 50px;
            left: 30px;
          }

          background-repeat: no-repeat;
          background-position: right center;

          &01 {
            background-image: url(../../images/about01.png);
            background-size: 220px auto;
          }

          &02 {
            background-image: url(../../images/about02.png);
            background-size: 200px auto;
            // margin-right: 100px;
          }

          &03 {
            background-image: url(../../images/about03.png);
            background-size: 180px auto;
          }

          h4 {
            font-size: 28px;
            font-weight: 700;
            line-height: 28px;



            img {
              width: 130px;
              margin-right: 10px;
            }



          }

          &Text {
            margin: 30px 0 50px 70px;

            h5 {
              font-size: 20px;
              font-weight: 700;
              line-height: 36px;
            }

            p {
              width: 400px;
            }
          }
        }
      }


    }

    @include sp {
      .ttl {
        img {
          width: 140px;
        }
      }


      .aboutList {

        margin: 50px 0px 0 0px;

        &Item {
          position: relative;
          overflow-x: inherit;
          overflow-y: hidden;
          margin-bottom: 30px;

          &:before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #a79c9c;
            top: 50px;
            left: 25px;
          }



          h4 {
            font-size: 28px;
            font-weight: 700;
            line-height: 28px;

            img {
              width: 130px;
              margin-right: 10px;
            }
          }

          &Text {
            margin: 30px 0 30px 50px;

            h5 {
              font-size: 20px;
              font-weight: 700;
              line-height: 36px;
            }


          }
        }
      }

      .students {
        flex-direction: column;
        justify-content: space-between;



        li {
          padding: 10px;
          margin: 10px 0;
          width: 100%;
          height: auto;
          font-size: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          span {
            font-size: 12px;
          }
        }

      }
    }


  }

  //*------------------*
  //*  community
  //*------------------*
  .community {
    background-color: $color-gray;

    .boxWhite {
      background-color: $color-white;
      padding: 40px;
    }

    .boxText {
      width: auto;

      li:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    .box {
      h4 {
        color: $color-blue;
        border: solid 1px $color-blue;
        padding: 15px;
        margin-bottom: 20px;
        font-weight: 700;
      }
    }

    .boxLine {
      border: solid 1px $color-green;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: $color-green;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 30px;
      }


    }


    @include pc {
      .ttl {
        img {
          width: 210px;
          margin-right: 20px;
        }
      }

      .boxWhite {
        display: flex;

      }

      .boxText {
        padding-right: 50px;
      }

      .boxLine {
        width: 600px !important;
      }
    }


    @include sp {
      .ttl {
        img {
          width: 140px;
        }
      }

      .boxWhite {
        display: flex;
        flex-direction: column;
      }

      .boxLine {
        margin-top: 30px;
      }
    }
  }



  //*------------------*
  //*  shcool
  //*------------------*

  .school {

    h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      color: $color-green;
      margin-top: 50px;
      margin-bottom: 20px;
    }


    //*------------------*
    //*  shcool_recommend
    //*------------------*
    .recommend {

      .item {
        padding: 0px;

        .itemText {
          background-color: $color-gray;
          font-weight: 700;
          font-size: 20px;
          height: 170px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


    @include pc {
      .ttl {
        img {
          width: 260px;
        }
      }

      .item {
        width: 300;
      }
    }

    @include sp {
      .ttl {
        img {
          width: 210px;
        }
      }
    }

    //*------------------*
    //*  shcool_flow
    //*------------------*
    .flow {

      h5 {
        display: inline;
        margin-right: 5px;
      }

      span {
        background: $color-blue;
        color: $color-white;
        font-size: 14px;
        padding: 2px 10px;
        font-weight: 400;
        margin-right: 5px;
      }

      li:nth-child(1) {
        background-image: url(../../images/flow01.jpg);
      }

      li:nth-child(2) {
        background-image: url(../../images/flow02.jpg);

      }

      li:nth-child(3) {
        background-image: url(../../images/flow03.jpg);
      }

      li:nth-child(4) {
        background-image: url(../../images/flow04.jpg);
      }


      @include pc {
        li {
          //position: relative;
          //overflow-x: inherit;
          //overflow-y: hidden;
          //@at-root: 30px;
          background-repeat: no-repeat;
          padding-left: 300px;
          background-size: 200px 150px;
          height: 160px;
          //background-position: right center;
        }

        li:not(:last-child) {
          margin-bottom: 40px;
        }
      }


      @include sp {
        li {
          background-repeat: no-repeat;
          background-size: 72px 54px;
        }

        li:not(:last-child) {
          margin-bottom: 40px;
        }

        .flowTtl {
          padding-left: 80px;
        }

        h5 {
          display: block;
          margin-right: 0px;
          font-weight: 700;
        }

        span {
          font-size: 11px;
        }

        p {
          margin-top: 10px;
        }
      }
    }

    //*------------------*
    //*  shcool_power
    //*------------------*
    .power {
      @include pc {
        .powerCard {
          display: flex;
          justify-content: space-between;
        }

        .powerItem {
          width: 250px;
          background-color: $color-gray;
          padding: 20px;
        }

        .powerItemImg {
          background-color: $color-white;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin: 30px auto;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 80px;

          }
        }

        .powerItemText {
          h5 {
            text-align: center;
            line-height: 36px;
          }

          padding-bottom: 30px;
        }
      }

      @include sp {
        li:not(:last-child) {
          margin-bottom: 30px;
        }

        .powerItem {
          display: flex;
        }

        .powerItemImg {
          padding-right: 20px;

          img {
            width: 60px;
          }
        }

        .powerItemText {
          h5 {
            font-weight: 700;
          }
        }

      }


    }

    //*------------------*
    //*  shcool_teacher 
    //*------------------*
    .teacher {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //width: 69vw;
        justify-content: space-between;
        padding: 30px 0;
      }



      dl {
        display: flex;
        align-items: center;
      }

      dt {


        span {
          width: 56px;
          height: 56px;
          background-color: $color-gray;
          border-radius: 50%;
          text-align: center;
          margin-right: 30px;
          line-height: 56px;
          display: block;
          color: $color-green;
        }

      }

      dd {

        strong {
          font-weight: 700;
        }
      }

      @include pc {
        li {
          width: calc((100% - 200px)/2);
          padding: 10px 0;
          line-height: 26px;
        }

      }


      @include sp {
        ul {
          flex-direction: column;
        }

        li {
          padding: 10px 0;
          line-height: 26px;
        }

        dt {


          span {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            line-height: 40px;

          }

        }
      }
    }

    //*------------------*
    //*  shcool_teacher 
    //*------------------*
    .course {
      .courseInner {
        display: flex;
        justify-content: space-between;
      }

      .courseCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: solid 1px $color-darkgray;
        border-bottom: 0;
        padding-top: 20px;
        margin-bottom: 30px;
      }

      .coursePrice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 32px;
          line-height: 60px;
        }

        >p {
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .coursePriceMoney {

        font-size: 40px;
        font-weight: 700;


        .coursePriceMoneyYen {
          font-size: 24px;
        }

        .coursePriceMoneyMonth {
          font-size: 12px;
        }
      }

      .coursePriceDibate {
        height: 150px;
        display: flex;
        align-items: center;
      }

      .coursePricePribate {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;

        dl {
          @include sp {
            width: 160px;
          }


          width: 200px;


          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;


          dt {
            font-weight: 400;
            padding-right: 0px;
            padding-bottom: 10px;
          }
        }
      }


      .coursePriceDetail {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: $color-gray;


        dt {
          width: 50%;
          text-align: right;
          padding: 30px 30px 30px 0px;
          border-bottom: solid 1px $color-darkgray;

        }



        dd {
          width: 50%;
          padding: 30px 0 30px 0px;
          border-bottom: solid 1px $color-darkgray;
        }
      }

      @include pc {
        .courseCard {
          width: calc((100% - 60px)/2);
        }
      }

      @include sp {
        .courseInner {
          display: flex;
          flex-direction: column;
        }
      }

    }

    //*school_end*
  }

  //*------------------*
  //*  contact_message
  //*------------------*
  .contact {
    .message {
      margin-top: 60px;
      background-color: $color-green;
      padding: 20px;

      p {
        color: $color-white;
        text-align: center;
        line-height: 40px;
      }
    }






    //*------------------*
    //*  contact_inquiryArea
    //*------------------*

    .inquiryArea {
      background-color: $color-gray;

      h2 {
        text-align: center;
        margin-bottom: 30px;

        @include sp {
          font-size: 24px;
        }
      }

      &Box {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include sp {
          flex-direction: column;
        }

        &Inner dt {
          color: $color-green;
          font-size: 24px;
          padding-bottom: 15px;

          span {
            color: $color-black;
            font-size: 16px;
            font-weight: 400;
          }

          @include pc {
            margin-left: 30px;
          }
        }

        &Inner dd {
          background-color: $color-white;
          text-align: center;

          /* 中央寄せ */
          @include pc {
            display: table-cell;
            vertical-align: bottom;
            height: 350px;
            padding: 30px 30px 50px 30px;
          }

          @include sp {
            padding: 40px 10px;
          }

          ol {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: left;
            line-height: 50px;

            @include sp {
              flex-direction: column;
            }

            li {
              @include pc {
                width: 45%;

              }

              counter-increment: num 1;
              list-style: none;
              //line-height: 1.5;
              padding-left: 40px;
              position: relative;

              &:before {
                content: counter(num);
                counter-increment: my-counter;
                background-color: $color-darkgray;
                border: 1px solid;
                border-radius: 50%;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                color: #ffffff;
                //font-size: 85%;
                font-weight: 700;
                line-height: 1;
                position: absolute;
                top: 12px;
                left: 0px;
              }

              img {
                width: 40px;
                vertical-align: middle;
                margin-left: 20px;
              }

            }
          }
        }
      }

      .lineBox {
        @include pc {
          flex-basis: 740px;

          //width: 740px;
          dd {
            background-image: url(../../images/contact_line_bg.jpg);
            background-repeat: no-repeat;
            background-position: 90% 90%;
            background-size: 150px auto;
          }
        }

      }

      .mailBox {
        img {
          width: 30px;
        }

        @include pc {
          //max-width: 700px;
          //width: 100%;
          flex-grow: 1;
          margin-right: 50px;
        }

        @include sp {
          margin-bottom: 30px;
        }
      }

    }

    //*contact_end*
  }

  //*main_end*
}


//*------------------*
//*  footer
//*------------------*
.footer {
  padding: 50px 30px;

  .logo {
    width: 200px;
  }

  >div {
    display: flex;

    @include sp {
      flex-direction: column;
    }
  }

  @include pc() {
    dl {
      padding-left: 60px;
    }
  }


  dt {
    margin-bottom: 10px;

    @include sp {
      margin-top: 30px;
    }
  }

  dd {
    line-height: 24px;
  }

  .icon dd {
    display: inline-block;
    margin-right: 10px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include sp {
      flex-direction: column;
    }
  }
}